* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    transition: 300ms;
}

html {
    scroll-behavior: smooth !important;
}

body {
    position: relative;
    color: black;
}

/* Para hindi maselect or drag yung images sa page */
img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* --------- HEADER --------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 112;
    transition: box-shadow 0.3s ease;
}

.header.shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background: white;
}

.nav-icon {
    max-height: 50px;
    position: relative;
}

.logo {
    position: relative;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    display: flex;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 35px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
}

.navbar a:hover{
    color: #FF9900;
}

/* --------- HOME --------- */

#home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("media/bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 70px 8% 0;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

#home p {
    font-size: 24px;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(300ms * var(--i))
}

.hero {
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.hero p:first-of-type {
    text-align: center;
}

.sculpture-clay {
    position: relative;
    display: flex;
    left: -50px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(200ms * var(--i))
}

.letter {
    height: 150px; /** eto aadjust para sa spacing sa taas at baba ng letter **/
    max-width: 90px; /** eto aadjust para sa spacing between each letter **/
}

.sculpture-clay img {
    max-width: 183.96px;   /** eto adjust para sa size ng letter **/
}

.hero a {
    text-decoration: none;
    font-size: 22px;
    color: #00000080;
}

.start {
    align-self: center;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(300ms * var(--i));
}

.start a {
    transition: transform 300ms ease;
    display: inline-block;
}

.start a:hover {
    transform: translateY(6px);
}

/* -------- HISTORY -------- */
#history {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
}

/* -------- FAMOUS -------- */
#famous {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding: 140px 10% 0;
}

.famous-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.famous-footer {
    text-align: center;
    opacity: 0.3;
}

.famous-bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg,#FF9900 ,white);
    z-index: -1;
}

#famous p {
    font-size: 22px;
}

#famous h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

#famous h3 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 30px;
}

.famous-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-famous,
.second-famous,
.third-famous {
    height: calc(100vh - 300px);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.first-famous-img,
.second-famous-img,
.third-famous-img {
    position: relative;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.first-famous-img img,
.second-famous-img img,
.third-famous-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.first-famous-img img:first-of-type,
.second-famous-img img:first-of-type,
.third-famous-img img:first-of-type {
    z-index: 111;
}

.first-famous-img img:first-of-type:hover,
.second-famous-img img:first-of-type:hover,
.third-famous-img img:first-of-type:hover {
    opacity: 0;
}

.first-famous-text,
.second-famous-text,
.third-famous-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 10px;
}
/* -------- MATERIALS -------- */
#materials {
    width: 100%;
    height: 100vh;
}

/* -------- SCULPTURES -------- */
#sculptures {
    width: 100%;
    height: 100vh;
}

/* -------- FUN FACTS -------- */
#funfacts {
    width: 100%;
    height: 100vh;
}

/* -------- SIGNIFICANCE -------- */
#significance {
    width: 100%;
    height: 100vh;
}

/* --------- ANIMATION ---------*/
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}