* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    transition: 300ms;
    scrollbar-width: none;
}

*, html, body {
    scroll-behavior: smooth !important;
}

body {
    position: relative;
    color: black;
}

/* Para hindi maselect or drag yung images sa page */
img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* --------- HEADER --------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 5%;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 112;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-icon {
    max-height: 50px;
    position: relative;
}

.logo {
    position: relative;
    font-size: 24px;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    display: flex;
}

.navbar a {
    display: inline-block;
    font-size: 22px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover{
    color: #FF9900;
}

/* --------- HOME --------- */

#home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}

.hero {
    margin-top: 0px;
    max-width: 600px;
}

/* -------- HISTORY -------- */
#history {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 70px 10% 0;
}

/* -------- FAMOUS -------- */
#famous {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    padding: 100px 10% 0;
}

.famous-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.famous-bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg,#FF9900 ,white);
    z-index: -1;
}

#famous p {
    font-size: 22px;
}

#famous h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
}

#famous h3 {
    font-size: 32px;
    font-weight: 700;
    padding-top: 30px;
}

.famous-content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.first-famous,
.second-famous,
.third-famous {
    height: calc(100vh - 300px);
    width: 600px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.first-famous-img,
.second-famous-img,
.third-famous-img {
    position: relative;
    position: relative;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

.first-famous-img img,
.second-famous-img img,
.third-famous-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.first-famous-img img:first-of-type,
.second-famous-img img:first-of-type,
.third-famous-img img:first-of-type {
    z-index: 111;
}

.first-famous-img img:first-of-type:hover,
.second-famous-img img:first-of-type:hover,
.third-famous-img img:first-of-type:hover {
    opacity: 0;
}

.first-famous-text,
.second-famous-text,
.third-famous-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px 0 10px;
}
/* -------- MATERIALS -------- */
#materials {
    width: 100%;
    height: 100vh;
}

/* -------- SCULPTURES -------- */
#sculptures {
    width: 100%;
    height: 100vh;
}

/* -------- FUN FACTS -------- */
#funfacts {
    width: 100%;
    height: 100vh;
}

/* -------- SIGNIFICANCE -------- */
#significance {
    width: 100%;
    height: 100vh;
}

/* --------- ANIMATION ---------*/