* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    transition: 300ms;
}

html {
    scroll-behavior:smooth !important;
    font-size: 16px;
    cursor: url("media/cursor.png"), auto;
}

body {
    position: relative;
    color: black;

}

/* Para hindi maselect or drag yung images sa page */
img {
    -webkit-user-drag: none;
    -webkit-user-select: none;
}

/* --------- HEADER --------- */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.25em 5%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 112;
    transition: box-shadow 0.3s ease;
}

.header.shadow {
    box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.5);
    background: white;
}

.nav-icon {
    max-height: 2.5em;
    position: relative;
}

.logo {
    position: relative;
    font-size: 1.3em;
    color: black;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    display: flex;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
    cursor: url("media/cursor.png"), auto;
}

.navbar a {
    display: inline-block;
    font-size: 1.25em;
    color: black;
    text-decoration: none;
    font-weight: 600;
    margin-left: 2.1875em;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(200ms * var(--i));
    cursor: url("media/cursor.png"), auto;
}

.navbar a:hover{
    color: #FF9900;
}

/* --------- HOME --------- */

#home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("media/heropic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4.375em 8% 0;
    z-index: 1;
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

#home p {
    font-size: 1.3em;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: calc(300ms * var(--i))
}

.hero {
    max-width: 50em;
    display: flex;
    flex-direction: column;
}

.hero p:first-of-type {
    text-align: center;
}

.sculpture-clay {
    position: relative;
    display: flex;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: calc(200ms * var(--i))
}

.letter-div {
    height: 11.25em;
    max-width: 5.625em; /** eto aadjust para sa spacing between each letter **/
    transition: transform 500ms ease-out;
    overflow: hidden;
    position: relative;
}

.letter {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.letter-div:hover {
    transform: translateY(-0.625em);
}

.sculpture-clay img {
    max-width: 11.4975em;   /** eto adjust para sa size ng letter **/
}

.hero a {
    text-decoration: none;
    font-size: 1.375em;
    color: #00000080;
}

.start {
    margin-top: 2em;
    align-self: center;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(300ms * var(--i));
}

.start a {
    transition: transform 300ms ease;
    display: inline-block;
    cursor: url("media/cursor.png"), auto;
}

.start a:hover {
    transform: translateY(0.375em);
}

/* -------- HISTORY -------- */
#history {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10em 10% 0;
    width: 100%;
    height: 105vh;
    z-index: 1;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 1)), url('media/history bg.png');
    background-size: cover;
}

.history-header {
    text-align: center;
    z-index: 2;
}

.history-header h1 {
    margin-top: -0.3em;
    font-size: 5em;
}

.history-header p {
    margin-top: 1em;
    font-size: 1.125em;
}

.history-carousel {
    position: relative;
    display: flex;
    transition: transform 0.5 ease;
}

.history-card {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: fadeIn 500ms ease-in-out;
}

.history-card[data-active] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 40.5em;
    width: 100%;
    z-index: 1;
    opacity: 1;
}

.history-card:not([data-active]) {
    opacity: 0;
    z-index: 1;
}

.card-time {
    padding-top: 5em;
}

.card-time h3 {
    margin-top: -1em;
    font-size: 2em;
    text-align: center;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.card-text {
    margin-top: -5em;
    max-width: calc(100vw/5);
    font-size: 1.5em;
    text-align: center;
}

.card-content img {
    max-width: calc(130vw/5);
    filter: drop-shadow(0px 0px 0.625em rgba(0, 0, 0, 1))
}

.card-title {
    justify-self: flex-end;
    font-size: 1.5em;
    font-style: italic;
}

.carousel-button {
    position: absolute;
    bottom: 4%;
    border: none;
    background: none;
    z-index: 10;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.5);
    cursor: url("media/cursor.png"), auto;
    transition: all 300ms;
    border-radius: 2em;
}

.carousel-button > i {
    font-size: 5em;
}

.carousel-button.prev {
    left: 30%;
}

.carousel-button.next {
    right: 30%;
}

.carousel-button:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 1);
}


/* -------- FAMOUS -------- */
#famous {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.famous-header {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.famous-footer {
    margin-top: 2em;
    text-align: center;
    opacity: 0.3;
    animation: blinking 2000ms ease infinite;
}

.famous-bubble::after {
    content: '';
    border-top-left-radius: 50% 100%;
    border-top-right-radius: 50% 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg,#FF9900 ,white);
    z-index: -1;
}

#famous p {
    font-size: 1.375em;
}

#famous h1 {
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0.625em;
}

#famous h3 {
    font-size: 3.5em;
    font-weight: 700;
}

.famous-content {
    margin-top: 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: url("media/cursor.png"), auto;
}

.first-famous,
.second-famous,
.third-famous {
    height: calc(100vh - 18.75em);
    width: 37.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.625em;
}

.first-famous-img,
.second-famous-img,
.third-famous-img {
    position: relative;
    width: 28.125em;
    height: 28.125em;
    overflow: hidden;
    border-radius: 0.625em;
    box-shadow: 0 0 3.125em rgba(0, 0, 0, 0.5);
}

.first-famous-img img,
.second-famous-img img,
.third-famous-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 110;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease;
}

.first-famous-img img:first-of-type,
.second-famous-img img:first-of-type,
.third-famous-img img:first-of-type {
    z-index: 111;
}

.first-famous-img img:first-of-type:hover,
.second-famous-img img:first-of-type:hover,
.third-famous-img img:first-of-type:hover {
    opacity: 0;
}

.first-famous-text,
.second-famous-text,
.third-famous-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 0.625em 0 0.625em;
}
/* -------- MATERIALS -------- */
#materials {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#materials p {
    font-size: 1.375em;
}

#materials h1 {
    margin-top: 2em;
    font-size: 3.5em;
    font-weight: 700;
}

.cards h3 {
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
}

.materials-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.materials-content {
    width: 100%;
    height: 100%;
    max-width: 37.5em;
    max-height: 37.5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    flex-direction: column;
}

.cards {
    position: relative;
    height: 31.25em;
    width: 26.875em;
    perspective: 62.5em;
    transform-style: preserve-3d;
    margin-top: 3em;
}

.cards label {
    position: absolute;
    width: 26.875em;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 550ms ease;
}

.cards .card {
    position: relative;
    height: 105%;
    background: #FDF5E8;
    backdrop-filter: blur(1.25em);
    border-radius: 0.625em;
    padding: 1.875em 2.1875em;
    cursor: url("media/cursor.png"), auto;
}

.cards .image {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.cards .image img {
    width: 100%;
    height: 15.5em;
    object-fit:scale-down;
    transition: all 700ms;
    filter: drop-shadow(0px 0px 0.625em rgba(0, 0, 0, 1))
}

.card .infos {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align:center;
    padding-top: 2.25em;
    margin-bottom: 1.25em;
    overflow: hidden;
}

.card .infos p {
    display: block;
}

#s1:checked~.cards #slide4,
#s2:checked~.cards #slide5,
#s3:checked~.cards #slide1,
#s4:checked~.cards #slide2,
#s5:checked~.cards #slide3 {
    border-radius: 0.625em;
    box-shadow: 0 0.625em 1.25em rgba(0, 0, 0, 45%);
    transform: translate3d(-150%, 0, -13.75em);
}

#s1:checked~.cards #slide5,
#s2:checked~.cards #slide1,
#s3:checked~.cards #slide2,
#s4:checked~.cards #slide3,
#s5:checked~.cards #slide4 {
    border-radius: 0.625em;
    box-shadow: 0 0.9375em 1.875em rgba(0, 0, 0, 45%);
    transform: translate3d(-75%, 0, -7.5em);
}

#s1:checked~.cards #slide1,
#s2:checked~.cards #slide2,
#s3:checked~.cards #slide3,
#s4:checked~.cards #slide4,
#s5:checked~.cards #slide5 {
    border-radius: 0.625em;
    box-shadow: 0 1.25em 2.5em rgba(0, 0, 0, 50%);
    transform: translate3d(0, 0, 0);
}

#s1:checked~.cards #slide2,
#s2:checked~.cards #slide3,
#s3:checked~.cards #slide4,
#s4:checked~.cards #slide5,
#s5:checked~.cards #slide1 {
    border-radius: 0.625em;
    box-shadow: 0 0.9375em 1.875em rgba(0, 0, 0, 45%);
    transform: translate3d(75%, 0, -7.5em);
}

#s1:checked~.cards #slide3,
#s2:checked~.cards #slide4,
#s3:checked~.cards #slide5,
#s4:checked~.cards #slide1,
#s5:checked~.cards #slide2 {
    border-radius: 0.625em;
    box-shadow: 0 0.625em 1.25em rgba(0, 0, 0, 45%);
    transform: translate3d(150%, 0, -13.75em);
}

input {
    display: none;
}

.materials-footer p {
    font-size: 1.25em;
    animation: blinking 2000ms infinite;
    margin-top: 3em;
}

.custom-shape-divider-bottom-1716011064 {
    position: absolute;
    bottom: -0.7em;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
    z-index: -1;
}

.custom-shape-divider-bottom-1716011064 svg {
    position: relative;
    display: block;
    width: calc(149% + 0.08125em);
    height: 20em;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1716011064 .shape-fill {
    fill: #FF9900;
}

/* -------- SCULPTURES -------- */
#sculptures {
    position: relative;
    width: 100%;
    height: 110vh;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("media/sculpturebg.png");
    background-size: cover;

}

.sculptures-header {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 0 0.5em 0;
}

.sculptures-header h1 {
    font-size: 3.5em;
}

.sculptures-header p {
    font-size: 1.25em;
    animation: blinking 2000ms infinite;
}

.sculptures-content {
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10em;
    row-gap: 2em;
    align-items: center;
}

.sculpture {
    position: relative;
    width: calc((100vw/5) - 1em);
    height: calc((100vw/5) - 1em);
    border-radius: 1em;
    box-shadow: 0 0.625em 1em rgba(0, 0, 0, 45%);
    padding: 0.5em;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
}

.sculpture:first-of-type {
    background: url('media/sculptures/pieta.jpg');
    background-size: cover;
    background-position: center;
}

.sculpture:nth-of-type(2) {
    background: url('media/sculptures/sphynx.webp');
    background-size: cover;
    background-position: center;
}

.sculpture:nth-of-type(3) {
    background: url('media/sculptures/liberty.jpg');
    background-size: cover;
    background-position: center;
}

.sculpture:nth-of-type(4) {
    background: url('media/sculptures/oblation.jpg');
    background-size: cover;
    background-position: center;
}

.sculpture:nth-of-type(5) {
    background: url('media/sculptures/peoplepower.jpg');
    background-size: cover;
    background-position: center;
}

.sculpture:nth-of-type(6) {
    background: url('media/sculptures/lapu-lapu.jpg');
    background-size: cover;
    background-position: center;
}

.sculpture-text {
    position: relative;
    opacity: 0;
    z-index: 3;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.625em;
    padding: 0.3em;
}

.sculpture:hover {
    transform: scale(1.2);
    z-index: 1;
}

.sculpture:hover .sculpture-text {
    opacity: 1;
}

.sculptures-bubble::before {
    content: '';
    border-bottom-left-radius: 50% 100%;
    border-bottom-right-radius: 50% 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    background: linear-gradient(180deg,#FF9900 ,white);
    z-index: -1;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0,0,0,0.9);
    cursor: url("media/cursor.png"), auto;
}

.modal-content {
    display: block;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* -------- FUN FACTS -------- */
#funfacts {
    width: 100%;
    height: 110vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4em;
    background: url('media/funfactbg.png');
    background-size: cover;
}

.funfacts-header {
    text-align: center;
    margin-top: -5em;
}

.funfacts-header p {
    font-size: 1.5em;
    animation: blinking 2000ms infinite;
}

.funfacts-header h3 {
    font-size: 3em;
}

.funfacts-images {
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: #ffb342;
    padding-top: 4em;
    padding-bottom: 4em;
}

.funfact-image {
    width: calc(100vh/3.5);
    height: calc(100vh/3.5);
    border-radius: 1.5em;
    box-shadow: 0px 0px 0.625em rgba(0, 0, 0, 1);
    transition: transform 0.5s ease;
}

.funfact-image:hover {
    transform: scale(1.3); 
}

.funfact-image:first-of-type {
    background: url('media/funfact/ff1.png');
    background-size: cover;
    background-position: center;
}

.funfact-image:nth-of-type(2) {
    background: url('media/funfact/ff2.png');
    background-size: cover;
    background-position: center;
}

.funfact-image:nth-of-type(3) {
    background: url('media/funfact/ff3.png');
    background-size: cover;
    background-position: center;
}

.funfact-image:nth-of-type(4) {
    background: url('media/funfact/ff4.png');
    background-size: cover;
    background-position: center;
}

.funfact-image:nth-of-type(5) {
    background: url('media/funfact/ff5.png');
    background-size: cover;
    background-position: center;
}

.funfacts-text {
    position: relative;
    width: calc(100vw/2);
}

.funfact {
    position: absolute;
    text-align: center;
    opacity: 0;
}

.funfact h3 {
    font-size: 2em;
}

.funfact p {
    font-size: 1.25em;
}


/* -------- SIGNIFICANCE -------- */
#significance {
    display: flex;
    padding: 10em 10% 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;
    background: url('media/significancebg.png');
    background-size: cover;
}

#significance p {
    font-size: 1.375em;
}

#significance i {
    font-size: 1.5em;
}

#significance h1 {
    font-size: 3.5em;
    font-weight: 700;
}

#significance h3 {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 700;
}

.significance-header{
    flex: 1;
    padding: 24em; 
    margin-left: -6em;
    margin-right: -6em;  
}

.significance-content{
    flex: 2;
    margin-right: -6em;
    margin-top: 1em;
    align-content: center;
    text-align: justify;
}

.closing{
    margin-top: 2em;
}

.members{
    margin-top: 2.5em;
    font-size: 0.8em;
    text-align: right;
}

/* --------- ANIMATION ---------*/
@keyframes slideRight {
    0% {
        transform: translateX(-6.25em);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-6.25em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(6.25em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(6.25em);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1; /* Start with opacity 1 */
    }
    100% {
        opacity: 0; /* Fade out */
    }
}